@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body, html {
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: 9999;
}
.navbar .logo {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    padding: 20px 30px;
    position:absolute;
    left: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar .logo img{
    width: 70px;
    border-radius: 100px;
}
.navbar .logo h1{
    font-size: 23px;
    font-family: "Dancing Script", cursive;
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
    text-align: center;
    position: absolute;
    
}
.navbar ul li {
    margin: 0 15px;
}
.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.login-btn {
    
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.container {
    width: 100%;
    height: 100%;
}
.content {
    display: none;
    color: rgb(0, 0, 0);
    text-align: center;
}
.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.hero {
    background-color: #fff;
    padding: 160px 50px;
}
.hero .home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
.hero-text {
    flex: 1;
    padding: 15px;
}
.hero-text h1 {
    font-size: 3rem;
    color: #2d3748;
    margin-bottom: 10px;
}
.hero-text h2 {
    font-size: 2rem;
    color: #2d3748;
    margin-bottom: 20px;
}
.hero-text p {
    font-size: 1rem;
    color: #4a5568;
    margin-bottom: 20px;
}
.hero-text a {
    background-color: #48bb783d;
    color: rgb(20 45 33);
    border: 2px solid rgb(20 45 33);
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}
.hero-text a:hover {
    background-color: #000000;
    color: white;
}
.hero-image {
    flex: 1;
    padding: 15px;
    text-align: center;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}
.content.active {
    display: block;
}
.login-n-register-container {
    position: fixed; /* Use fixed positioning to overlay on the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    
    z-index: 1000; /* Ensure it appears above other content */
    display: none; /* Initially hidden */
}
.login-container{
    margin-top: 300px;
    height: 303px;
}
.register-container{
    margin-top: 200px;
    height: 553px;
}
.login-container, .register-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.login-container h2, .register-container h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
}
.login-container p, .register-container p {
    color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}
.login-container input, .register-container input {
    width: 100%; /* Adjust width to account for padding */
    padding: 10px; /* Keep the padding */
    margin: 10px 0; /* Maintain vertical spacing */
    border: 1px solid black;
    border-radius: 5px;
    font-family: "Montserrat", serif;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
.login-container .login-btn, .register-container .register-btn {
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Montserrat", serif;
    text-align: left;
}
.login-container .register-link, .register-container .login-link {
    color: rgb(36, 83, 61);
    font-size: 14px;

    display: block;
    cursor: pointer;
}
.login-container .close-btn, .register-container .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
}
.error-message p{
    font-weight: 700;
    color: red;
    font-size: 12px;
    margin-bottom: 3px;
}
.banner-img{
    width: 100%;
    margin-bottom: 50px;
}
.product-grid {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 55px; /* Adjust the gap between items */
    padding: 30px 150px;
    justify-content: flex-start; /* Align items to the left */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    width: calc(25% - 55px); /* Set width to 25% for 4 cards per row, minus gap */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px); /* 2 cards per row on medium screens */
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(100% - 20px); /* 1 card per row on small screens */
    }
}
.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image-container {
    position: relative;
}

.product-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.add-button {
    background-color: #e2e8f0;
    color: #000;
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    border: none;
    cursor: pointer;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: left;
}

.product-price {
    font-size: 0.875rem;
    color: #4A5568; /* Gray color */
    text-align: right;
}

.product-description {
    font-size: 15px;
    color: #718096;
    text-align: left;
    margin-top: 0;
}
.categories-show {
    position: relative; /* Set the position to relative for the absolute positioning of the dropdown */
}

.categories-list {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute; /* Position it absolutely */
    z-index: 1000; /* Ensure it appears above other elements */
    width: 200px; /* Set a width for the dropdown */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to center */
    display: none; /* Initially hidden */
}

.categories-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.categories-list li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

.categories-list ul {
    list-style: none;
    padding: 0;
    margin : 0;
}

.categories-list li {
    padding: 5px 10px;
    cursor: pointer;
}

.categories-list li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}

@media (max-width: 1048px) {
    .navbar .logo {
        display: none;
    }
    .navbar {
        padding: 10px 20px;
    }
    .navbar ul li a {
        font-size: 16px;
        
    }
    .navbar .login-btn {
        padding: 5px 10px;
        font-size: 14px;
    }
    .login-container, .register-container {
        padding: 20px;
    }
    .login-container h2, .register-container h2 {
        font-size: 20px;
    }
    .login-container input, .register-container input {
        padding: 8px;
    }
    .login-container .login-btn, .register-container .register-btn {
        padding: 8px;
    }
}
.eating-way{
    text-align: center;
    display: none;
}
.title {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }

  .options {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
  }

.option {
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 400px;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.2);
}

.option-title {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

.option img {
    width: 8rem;
    height: 8rem;
}

.option-desc {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    width: 175px;
} 

.select-table {
    margin-top: 1rem;
}

.select-table label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.select-table select {
    padding: 1px 10px;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-family: "Montserrat", serif;
    height: 30px;
}
.logout-btn {
    background-color: #7f7f7f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    
    font-size: 16px;
    transition: background-color 0.3s;
    position: absolute;
    right: 35px;
    border: 2px solid white;
}
.logout-btn:hover {
    background-color: #c5303069;
    border: 2px solid darkred;
}
.go-to-menu-btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    margin-top: 15px;
    width: 195px;
    background-color: #ffedde;
    font-family: "Montserrat", serif;
    transition: ease 0.3s;
    font-weight: 850;
    border: 1px solid #c4a488;
}
.go-to-menu-btn:hover{
    color: white;
    background-color: black;
}